# Azure OpenAI Configuration
AZURE_OPENAI_ENDPOINT="https://XXXXXXXXXXXXXXXXXXXXXXXXXXXX.openai.azure.com/"
AZURE_OPENAI_API_KEY="XXXXXXXXXXXXXXXXXXXXXXXXXXXX"
AZURE_OPENAI_VERSION="2023-09-15-preview"
AZURE_DEPLOYMENT="gpt-4o-mini"
